.App {
  width:70%;
  margin: 0 auto;
}
.App h2 {
  margin: 25px 0;
  text-transform: uppercase;
  font-weight: 500;
}
.players {
  display:flex;
}
.available-players {
  width:70%;
  border-right: 2px solid lightgrey;

}
.selected-players {
  margin-left: 1.5em;
 
}

.App-link {
  color: #61dafb;
}


